@chatset "utf-8";
body,html{width: 100%;height: 100%;overflow: hidden;}
.en{font-family: 'Showcard Gothic'!important;}
.cn{font-family: '微软雅黑'!important;}

.Nav{width:125 px;position: fixed;top:50%;margin-top: -100px;z-index: 10;text-align: center;display: inline-block;z-index: 10000}
.Nav li{width: 120px;height: 30px;line-height: 30px;background: #fff;margin-bottom: 10px;cursor: pointer;transition: 1s;margin-left: -110px;border:1px solid rgba(179,214,110,0.5) ; font-size: 0.3rem}
.Nav .on{width: 120px;margin-left: 0px;font-size: 0.3rem}
.c2on{background-color: #B3D66E!important;border:1px solid rgba(255,255,255,0.5)!important ;}
.Nav li:hover{margin-left:0px;}
.ml{margin-left:-110px;}


.First{width: 100%;height: 100%;background:#B3D66E;transition: 500ms;}
.First .left{width:90%;height: 50%;text-align:center;font-family: 'Showcard Gothic';color: #fff;margin:0 auto;padding-top: 2.5rem ;}
.First h1{font-size:4rem;}
.First h2{font-size:3rem;}


.Second{width: 100%;height: 100%;transition: 500ms;position: relative;color:#B3D66E; }

.Second1{width: 100%;height: 100%;background:#F7F7F7;transition: 500ms;position: absolute;left: 0;top:0;}
.Second1 .information{width:100%;font-family:'微软雅黑';margin-top: 5rem;}
.Second1 .information .Head{width: 200px;height: 200px;background-image:url(../images/head.png);background-size: 100% 100%;border-radius: 50%;margin: 0 auto ;}

.Second1 .information .detailInfo{width:100% ;margin:0 auto;display: block;margin-top: 0.6rem}
.Second1 .information .detailInfo li{width: 7rem;margin:0.2rem 0 0.15rem 2rem;float: left;}

.Second1 .detailInfo li .yuan{width: 0.7rem;height: 0.7rem;background-color: #B3D66E;float:left;border-radius: 50%;margin-right:5px;}
.Second1 .information p{font-size: 0.7rem;display: block;line-height: 0.7rem}

/*
.Second2{width:100%;height: 100%;background:#B3D66E;transition: 500ms;position: absolute;left: 100%;top:0;}*/



.Third{width: 100%;height: 100%;background:#B3D66E;transition: 500ms;position: relative;display: none}

.Third .mid{width: 90%;margin:0 auto;padding-top: 5% ;}
.Third .mid .title{;width:8rem;font-size:1.5rem;text-align: center;margin:0 auto;font-family: 'Showcard Gothic';color: #fff;}

.Third .mid .skillInfo{width: 100%;position: relative;margin:0 auto;}
.Third .mid .skillInfo .icon{width: 100%;margin-top: 100px;display: inline-block;}
.Third .mid .skillInfo .icon li{width: 2.5rem;height:2.5rem;display: inline-block;border: 4px solid#fff;margin-left:2.3rem;cursor: pointer;}
.Third .mid .skillInfo img{width: 2.5rem;height:2.5rem;}
.Third .mid .skillInfo .font .fontBox{width: 2.5rem;height: 1rem;display: inline-block;border: 4px solid#fff;margin-left:2.3rem;overflow: hidden;opacity: 0;transition: 500ms}
.Third .mid .skillInfo .font li span{width: 5%;display: block;height: 100%;background-color: #fff;transition:500ms;line-height: 1rem};

.widthQ{width: 0!important;}


.dishedBox{width:80%;margin:0 auto;margin-top:0.5rem;border:8px dashed #F4F1F1;border-radius: 40px;transition: 500ms;opacity: 0}
.dishedBox .BoxSize{margin:1rem 1rem 1rem 1rem;transition: 500ms}
.dishedBox .h1,.p1,.p2,.p3,.p4{text-indent: 0.5rem;margin-bottom:10px;font-size: 0.7rem}
/*.dishedBox .p1{text-indent: 1rem;}*/



.Four{width: 100%;height: 100%;background:#fff;transition: 500ms;position:relative;}
.Four .fontBox{width: 80%;margin:0 auto;padding-top: 1rem ;position: absolute;left: 50%;margin-left: -40%}
.Four .works{width: 5rem;margin:0 auto;text-align: center;font-size:1rem;color: #B3D66E;}
.Four .navFont{width: 100%;display: inline-block;}
.Four .navFont li{width:6rem;float: left;margin:0.25rem;cursor: pointer;text-align: center;border-radius: 30px;border:6px dashed #fff;font-size: 0.6rem;padding:5px 0 5px 0;transition: 1s}
.Fonton{border-color:#302F2F!important}
.show{display: block!important}

.Four .navFont li:hover{border-color:#302F2F!important}

.Four .workBox{width: 100%;height:60%;display: inline-block;padding-top: 11%}
.Four .workBox .Four1 {width:100%;height: 100%;;transition: 500ms;display: none;}
.Four .workBox .Four1 .mid{width:72%;margin: 0 auto;}
.Four .workBox .Four1 .webworks{display:block;width: 100%;height: 80%}
.Four .workBox .Four1 .webworks li{width: 30%;height:5rem;border: 4px solid #B3D66E;margin-left:0.5rem ;margin-top: 2%;cursor: pointer;float: left}
.Four .workBox .Four1 .webworks img{width: 100%;height:5rem;float: left;}
.Four .workBox  .Four1 .webworks a{display: block;width: 100%;height:5rem;position: relative;z-index: 1}
.Four .workBox  .Four1 .webworks .bgDiv{width: 100%;height:5rem;background-color: #B3D66E;position: absolute;z-index: 2;opacity: 0;transition: 500ms}
.Four .workBox  .Four1 .webworks .box{height: 0.7rem;font-size: 0.5rem;position: absolute;border:2px solid #688F1A;color: #fff;background-color:#688F1A;padding:0 5px 0 5px;border-radius: 0.5rem;left: 0.1rem}


.Four .workBox  .Four1 .webworks .readmore{width:34px;height: 33px;position: absolute;top:0;left: 50%;margin-left: -17px;background-image: url(../images/readmore.png);background-repeat: no-repeat;z-index: 3;transition: 500ms;opacity: 0}
.Four .workBox  .Four1 .webworks .readmoreFont{width:100%;z-index: 3;color:#fff;font-size: 0.5rem;text-align: center;opacity:0;transition:500ms;position: absolute;bottom: 0;}

.Four .workBox  .Four1 .webworks li:hover .readmore{margin-top: 1.5rem;opacity: 1}
.Four .workBox  .Four1 .webworks li:hover .readmoreFont{margin-bottom: 1.5rem;opacity: 1}
.Four .workBox  .Four1 .webworks li:hover .bgDiv{opacity: 0.9}



.Four .workBox .Four2 {width:100%;height: 100%;;transition: 500ms;display: none;}
.Four .workBox .Four2 .mid{width:72%;margin: 0 auto;}
.Four .workBox .Four2 .webworks{display:block;width: 100%;height: 80%}
.Four .workBox .Four2 .webworks li{width: 30%;height:5rem;border: 4px solid #B3D66E;margin-left:0.5rem ;margin-top: 2%;cursor: pointer;float: left}
.Four .workBox .Four2 .webworks img{width: 100%;height:5rem;float: left;}
.Four .workBox  .Four2 .webworks a{display: block;width: 100%;height:5rem;position: relative;z-index: 1}
.Four .workBox  .Four2 .webworks .bgDiv{width: 100%;height:5rem;background-color: #B3D66E;position: absolute;z-index: 2;opacity: 0;transition: 500ms}
.Four .workBox  .Four2 .webworks .readmore{width:34px;height: 33px;position: absolute;top:0;left: 50%;margin-left: -17px;background-image: url(../images/readmore.png);background-repeat: no-repeat;z-index: 3;transition: 500ms;opacity: 0}
.Four .workBox  .Four2 .webworks .readmoreFont{width:100%;z-index: 3;color:#fff;font-size: 0.5rem;text-align: center;opacity:0;transition:500ms;position: absolute;bottom: 0;}

.Four .workBox  .Four2 .webworks li:hover .readmore{margin-top: 1.5rem;opacity: 1}
.Four .workBox  .Four2 .webworks li:hover .readmoreFont{margin-bottom: 1.5rem;opacity: 1}
.Four .workBox  .Four2 .webworks li:hover .bgDiv{opacity: 0.9}

.Four .workBox .Four3 {width:100%;height: 100%;;transition: 500ms;display: none;}
.Four .workBox .Four3 .mid{width:80%;margin: 0 auto;}
.Four .workBox .Four3 .phoneBox{display:block;width: 100%;height: 80%;}
.Four .workBox .Four3 .phoneBox li{width:48%;height:5rem;margin-left:1%;margin-top: 2%;position: relative;display: inline-block;}
/*.Four .workBox .Four3 .phoneBox img{width: 427.5px;height:881px;position: absolute;top: 0;left: 50%;margin-left: 213.75px}

.Four .workBox .Four3 .phoneBox .phone1{width: 5.615rem;height:10.095rem;position: absolute;left: 50%;margin-left:-2.8575rem;top: 50%;margin-top: -1rem }
*/
.Four .workBox .Four3 .phoneBox img{width: 6rem;height:6rem;position: absolute;top: 0;left: 50%;}










.more{width:0.89rem;height:2rem;position: absolute;cursor: pointer;top:1.5rem;}
.moreright{right:0;background-image:url(../images/right.png);background-color:#B3D66E ;background-repeat: no-repeat;background-size: 100% 100%;border-top-left-radius: 10px;border-bottom-left-radius: 10px}

.moreleft{left: 0;background-image:url(../images/left1.png);background-repeat: no-repeat;background-size: 100% 100%;background-color: #fff;border-top-right-radius: 10px;border-bottom-right-radius: 10px;}












.Five{width: 100%;height: 100%;background:#B3D66E;transition: 500ms;}


.Five{width: 100%;height: 100%;background:#B3D66E;transition: 500ms;position: relative;display: none}

.Five .mid{width: 90%;margin:0 auto;padding-top: 5% ;}
.Five .mid .title{;width:8rem;font-size:1.5rem;text-align: center;margin:0 auto;font-family: 'Showcard Gothic';color: #fff;}

.Five .mid .massage{width:100%;text-align: center;padding-top:5%;color: #fff}
.Five .mid .massage li{width:80%;margin:0 auto;display: block;padding-top: 0.5rem;padding-left: 1rem;}
.Five .mid .massage li img{width:1rem;;padding-top: 0.5rem}





























.Five{width: 100%;height: 100%;background:#B3D66E;transition: 500ms;position:relative;}






