@chatset "utf-8";
.a{width: 100%;height: 90px;background-color: #000;}/*header（替换部分）*/

.ljh_picChange{
	position: relative;top: 0px;
	width: 100%;height: 500px;
}
.ljh_picChange_subpage{
	position: relative;top: 0px;
	width: 100%;height: 300px;
}
/*--------------菜单导航部分-------------*/
.ljh_menu{/**/
	position:absolute;top: 0;
	width: 100%;height: 40px;
	background-color:rgba(69, 63, 63, 0.5); 
	z-index: 900;
}

.ljh_menu_center{
	margin: auto;
	width: 800px;height: 40px;
	/*background-color: #e22;*/
}

.ljh_menu_center a{
	float: left;
	margin: auto;padding-left: 10px;margin-right: 40px;
	line-height: 40px;color: #fff;
}
/*使得菜单导航保持字体颜色不变*/
.ljh_menu_center a:link{ color: #fff;}
.ljh_menu_center a:visited{ color: #fff;}


.o{/*hover时候的小圈圈*/
	float: left;margin-top: 15px;margin-right: 5px;
	width: 10px;height: 10px;
	border: 0.9px solid;border-radius: 50%;border-color: #F2A45B;
	opacity: 0;
}
.menu_on{/*圈圈颜色css样式*/
	opacity: 1;background-color:  #F2A45B!important;
	
}
.font_on{
	color: #F2A45B!important;
}
/*--------------菜单导航部分-------------*/

/*---------------图片轮播部分css样式--------------*/
.ljh_pic_change{
	width: 100%;height: 500px;	
}
.ljh_picChangeMain{
	width: 100%;height: 500px;
	/*background-color: #d45;*/
}
.ljh_picChangeMain li{
	position: absolute;top:0;
	width: 100%;height: 500px;
	background-size: 100% 100%;
}

.ljh_btn{
	position: absolute;bottom: 0;
	width: 100%;height: 20px;background-color:rgba(69, 63, 63, 0.5);
	text-align: center;z-index: 999;
}
.ljh_btn li{
	width: 30px;height: 10px;
	background-color: rgba(158, 158, 158, 0.62);display: inline-block;
	cursor: pointer;
}
.ljh_btnOn{background-color:#F2A45B!important;}

/*---------------图片轮播部分css样式--------------*/



/*--------------子首页菜单--------------*/

.ljh_picsubpage{
	width: 100%;height: 300px;
}
.ljh_picsubpage li{
	position: absolute;top:0;
	width: 100%;height: 300px;
	background-size: 100% 100%;
}
.ljh_pic_change_subpage{
	width: 100%;height: 300px;	
}