@charset "utf-8";

.MJY_header{
	width: 100%;
	height: 90px;
	background: url(../images/header.png);
	background-repeat: repeat-x;
}
.w1200{ width: 1200px; margin: auto; }
.MJY_header1{
	height: 90px;
	position: relative;
}
.MJY_logo1{
	width: 132px;
	height: 102px;
	position: absolute;
	top:0;
	left:0;
	float: left;
	z-index: 999;
}
.MJY_header1left{
	width:545px;
	height:90px;
	float:left;
	margin-left:132px;
}
.MJY_header1right{
	height:40px;
	padding-top:50px;
	float:right;
}
.MJY_icon{
	width:16px;
	height:16px;
	float:left;
	margin-top:2px;
}
.MJY_pnum{
	height:40px;
	float:left;
	margin-left:5px;
	color: #666;
}
.MJY_footer{
	width:100%;
	height:143px;
	background:#3658b6;
	clear:both;
	margin-top:100px;
}
.MJY_footer1{
	height:143px;
}
.MJY_logo2{
	width:150px;
	height:143px;
	float:left;
}
.MJY_footerLeft{
	width:682px;
	height:69px;
	margin-top:35px;
	padding-left:25px;
	float:left;
	font-size:14px;
	color:#FFF;
	border-right:1px solid #718ed0;
}
.MJY_footerLeft h1{
	font-size:18px;
	font-weight:normal;
	margin:0;
}
.MJY_footerLeft p{
	margin-bottom:5px;
}
.MJY_footerRight{
	width:200px;
	height:90px;
	float:right;
	margin-top:30px;
	margin-left:100px;
}

.MJY_footerRight ul{
	float:left;
	font-size:10px;
	color:#FFF;
}

.MJY_footerRight ul:nth-child(2){
	margin-left:30px;
	text-align:center;
}