.QYM_main{width: 1200px;margin: auto;}


.QYM_left{width: 240px;height: 370px;float: left ;}
/*.wjn_main_l_t{
	width: 240px;height: 100px;
	text-align: center;line-height: 100px;font-size: 32px;color: #888888;}
.wjn_main_l_b li{
	width: 240px;height: 40px;font-size: 18px;text-align: center;
	line-height: 40px;margin-top: 10px;color: #707070;
	border-bottom:1px solid #DDDBDB;display: block;	}
.wjn_main_l_b li:hover{
	border-radius: 0 0 25px 0;background: #EA9E28;color: #FFFFFF;}
.wjn_main_l_b li a:visited{color: #707070;}
.wjn_main_l_b li a:link{color: #707070;}
.wjn_main_l_b li:hover a{background: #EA9E28;color: #FFFFFF;}*/


.QYM_right{width: 920px;float: left;margin-left: 40px;margin-top: 40px;}
.QYM_right_top{width: 920px;height: 50px;cursor: pointer;
	background: #fff;color: #666;padding-top: 10px;
	border-bottom: 1px solid #666;}
.QYM_right_top a:link{color: #888888;}
.QYM_right_top a:visited{color: #888888;}
.QYM_right_top a:hover{color: #f19149;}
.QYM_right_mid{width: 920px;}
.QYM_right_mid ul li{width: 920px;height: 135px;border-bottom: 1px solid #888888;margin-top: 20px;}
.li_left{width: 55px;height: 55px;background:#cccccc;float: left;text-align:center;margin-right: 25px;}
.li_right{width: 835px;height: 115px;float: left;}
.li_left:hover{background-color: #f19149;}


.QYR_middle_footer{
	width: 1200px;
	height: 70px;
	margin: auto; 		
}
.QYR_footer_right{
	width: 430px;
	height: 35px;
	float: right;margin-top: 35px;
}
.QYR_footer_right ul li{
	width: 35px;
	height: 35px;
	margin-right: 8px;
	color: #000;
	text-align: center;
	line-height: 35px;
	float: left;
	background-color: #e4e4e4;
	border-radius: 0 0 10px 0;
}
.QYR_footer_right ul li:hover{
		background-color: #f19149;
		cursor: pointer;
		color: #fff;
}