body{/*overflow: hidden; */position: relative;font-family: "微软雅黑";}
.wjn_container{
	width: 100%;
	height: 100%;
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;

	z-index: 1;
	/*display: none;默认全部都隐藏，js会显示第一个*/
	/*overflow: hidden;收回去的时候需要隐藏所有*/
	/*transition: all 0.5s;高度发生改变时产生过度动画*/
}
.wjn_logo{
	width: 60px;
	height: 60px;
	background: url(../images/wjn_i_logo.png);
	position: fixed;
	left: 20px;
	top: 20px;
	z-index: 3333;
}
.wjn_menu{
	width: 70px;
	height: 78px;
	background: url(../images/wjn_i_menu.png);
	position: fixed;
	left: 20px;
	top: 190px;
	overflow: hidden;
	z-index: 3333; 
}
.wjn_menu2{
	width: 70px;
	height: 78px;
	background: url(../images/wjn_i_menu_2.png);
	margin-left:-65px;
	z-index: 3333; 
}
.wjn_leftcenter{
	width: 21px;
	height: 96px;
	position: fixed;
	z-index: 3333; 
	left: 25px;
	top: 490px;
}
.wjn_leftcenter li{
	width: 21px;
	height: 24px;
	margin-top: 8px;
	overflow: hidden;
}
.wjn_leftcenter li:nth-child(1){
	margin-top: 0;
}
.nav_on img{
	transform: translate(-5px,-30px);
}
.wjn_huadong{
	width: 100px;
	height: 45px;
	margin-top: 10px;
	background: url(../images/wjn_slider_btn_bg.png);
}
.wjn_leftfoot{
	width: 480px;
	height: 25px;
	position: fixed;
	left: 20px;
	bottom: 20px;
	z-index: 3333; 
}
.wjn_sjx{
	width: 5px;
	height: 4px;
	margin: 0 0 5px 20px;
	background: url(../images/wjn_i_bottom_jt.png);
}
.p_foot{font-size: 12px;color: #FFFFFF;}	
.p_foot li{float: left;}	
.wjn_xhx:hover li{text-decoration: underline;}
.p_foot a:link{color: #FFFFFF;}
.wjn_righttop{
	width: 190px;
	height: 30px;
	position: fixed;
	right: 20px;
	top: 20px;
	z-index: 3333; 
}
.wjn_ketang{
	width: 160px;
	height: 30px;
	float: left;
	line-height: 30px;
	text-align: center;
	color: #3fb560;
	font-size: 12px;
	background: #26272c;
}
.wjn_righttop:hover .wjn_ketang{background-color: #30A451;color:#FFFFFF;}
.wjn_qq{
	width: 30px;
	height: 30px;
	float: left;
	background-image: url(../images/wjn_txqq.png);
	background-color:#3FB560; 
}
.wjn_rightcenter{
	width: 50px;
	height: 126px;
	position: fixed;
	right: 20px;
	top: 380px;
	z-index: 3333; 
}
.wjn_gzwm{
	width: 50px;
	height: 26px;
	z-index: 3333; 
	background: url(../images/wjn_i_follow_title.png);
}
.wjn_lianxi{
	width: 20px;
	height: 100px;
	z-index: 3333; 
}
.wjn_lianxi	li{
	width: 50px;
	height: 20px;
	text-align: center;
	margin-top: 10px;
	position: relative;
}
.wjn_rightfoot{
	width: 280px;
	height: 120px;
	position: fixed;
	right: 20px;
	bottom: 20px;
	z-index: 3333; 
}
.wjn_erweima{
	width: 90px;
	height: 90px;
	margin-left: 185px;
	z-index: 3333; 
	background: url(../images/wjn_i_erweima.jpg);
}
.wjn_rightfoot p{
	color: #FFFFFF;
	font-size: 12px;
	margin-top: 15px;
}
.wjn_dongshan{
	width: 574px;
	height: 632px;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
	background: url(../images/wjn_three-00.png);
}
	
/*点击menu弹出的板块======================*/
.wjn_container2{
	width: 100%;
	height: 100%;
}
.wjn_container2 ul{
	width: 100%;
	height: 50%;
	display: table;
}
.wjn_container2 ul li{
	display: table-cell;
	position: relative;
	
}
.wjn_shouye{
	width: 280px;
	height: 220px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin:-110px 0 0 -140px;
	overflow: hidden;cursor: pointer;
}
.wjn_shang{
	width: 278px;
	height: 2px;
	position: absolute;
	left: 0;
	top: 0;
	margin-left: -278px;
	background: #3fb560;
}
.wjn_you{
	width: 2px;
	height: 218px;
	position: absolute;
	right: 0;
	top: 0;
	margin-top: -218px;
	background: #3fb560;
}
.wjn_xia{
	width: 278px;
	height: 2px;
	position: absolute;
	right: 0;
	bottom: 0;
	margin-right: -278px;
	background: #3fb560;
}
.wjn_zuo{
	width: 2px;
	height: 218px;
	position: absolute;
	left: 0;
	bottom:0;
	margin-bottom: -218px;
	background: #3fb560;
}
.wjn_img{
	width: 150px;
    height: 70px;
    border-bottom: 1px dashed #4f4f55;/*dashed  下边框画虚线*/
    margin: 0 auto;
    margin-bottom: 20px;
    padding-bottom: 10px;
    padding-top: 30px;
}
.wjn_img img{margin-left: 45px;}
.wjn_h,.wjn_p,.wjn_hang{
	width: 280px;
	height: 24px;
	line-height: 24px;
	text-align: center;
}
.wjn_h{
	font-size: 20px;
	color: #FFFFFF;
	text-transform: uppercase;/*让小写字母变大写*/
}
.wjn_p{
	font-size: 12px;
	color: #FFFFFF;
}
.wjn_hang{
	color: #3fb55f;
    font-weight: bold;
}






.QYR_border_top{width: 0px;height: 2px;background-color: #3eb45e;
position: absolute;left: 0%;top: 0%;transition: all 0.2s;}
.QYR_border_right{width: 2px;height: 0px;background-color:#3eb45e;
position: absolute;right: 0%;top: 0%;transition: all 0.2s;}
.QYR_border_bottom{width: 0px;height: 2px;background-color: #3eb45e;
position: absolute;right: 0%;bottom: 0%;transition: all 0.2s;}
.QYR_border_left{width: 2px;height: 0px;background-color: #3eb45e;
position: absolute;left: 0%;bottom: 0%;transition: all 0.2s;}
.wjn_lianxi	li:hover{cursor: pointer;}
.wjn_lianxi	li:hover .QYR_border_top{width: 50px;}
.wjn_lianxi	li:hover .QYR_border_right{height: 20px;}
.wjn_lianxi	li:hover .QYR_border_bottom{width: 50px;}
.wjn_lianxi	li:hover .QYR_border_left{height: 20px;}

.QYR_container_center{width: 30%;height: 40%;
position: absolute;left: 50%;top: 50%;margin-left:-280px ;margin-top: -100px;}
.QYR_container_txt1{width:578px;height: 44px;margin: auto;background-image: url(../images/wjn_three-01.png); }
.QYR_container_txt2{width:340px;height: 25px;margin: auto;background-image: url(../images/wjn_three-02.png);margin-top: 20px;position: absolute;margin-left: 100px;}
.QYR_container_btn{width:167px;height: 44px;margin: auto;background-image: url(../images/wjn_three-03.png);margin-top: 100px;position: absolute;margin-left: 180px;}





.QYM_Wrap{height: 100%;position: relative;background: #999999;}
.QYM_page2{width: 100%;height: 100%;position: relative;overflow: hidden;}
.QYM_BG{position: absolute;left: 0;top: 0;width: 100%;height: 100%;background:url(../images/QYM_bg.jpg) center center no-repeat ;background-size: cover;display: block; }
.QYM_c1{width: 494px;height: 407px;position: absolute;left: 50%;bottom: 50%;		margin-left:-247px;margin-bottom:-203.5px;background: url(../images/QYM_c1.png) no-repeat;}
.QYM_c2{width: 100%;height: 45px;position: absolute;background: url(../images/QYM_C2.png) center no-repeat;bottom:62%;}
.QYM_c3{width: 310px;height: 44px;position: absolute;left: 50%;bottom:54%;margin-left: -155px;background: url(../images/QYM_c3.png) no-repeat;}
.QYM_c4{width: 167px;height: 44px;position: absolute;left: 50%;top: 50%;margin-left: -83.5px;margin-top: 6px;background: url(../images/QYM_c4.png);}





.qf_mian{background-image: url(../images/section1.jpg); background-size: 100% 100%;}
.qf_bg1{background-image: url(../images/one-00.png); width: 475px; height: 475px;
position: absolute; left: 50%; top: 50%; margin: -235px 0 0 -235px;}
.qf_bg2{background-image: url(../images/one-01.png); background-repeat: no-repeat;bottom: 52%; left: 50%; width: 100px; height: 10px;
margin: 0 0 0 -50px; position: absolute; }
.qf_bg3{background-image: url(../images/one-02.png);top: 50%; background-repeat: no-repeat; left: 50%; width: 100px; height: 122px;
margin: 0 0 0 -56px; position: absolute; }
.qf_bg4{background: url(../images/one-03.png) 53% 0; background-repeat: no-repeat; bottom: 50%; width: 100%; height: 230px;
 position: absolute; margin-bottom: -155px; }
 .qf_bg5{background-image: url(../images/logo.png);top:50%; background-repeat: no-repeat; left: 50%; width: 100px; height: 99px;margin-left: -70px; position: absolute; margin-top: -139px;}


.ljh_main{background: url(../images/section2.jpg);background-size: 100% 100%;}
.ljh_bg1{background-image: url(../images/two-01.png);background-repeat: no-repeat; width: 343px; height: 376px;position: absolute; left: 50%; top: 50%; margin: -188px 0 0 -171.5px;z-index: 1 }
.ljh_bg2{background-image: url(../images/two-02.png); background-repeat: no-repeat;top: 50%; left: 50%; width: 343px; height: 376px;margin: -188px 0 0 -171.5px;position: absolute; z-index: 1}
.ljh_bg3{background-image: url(../images/two-03.png);top: 50%; background-repeat: no-repeat; left: 50%; width: 343px; height: 376px;margin: -188px 0 0 -171.5px; position: absolute;z-index: 1 }
.ljh_bg4{background-image: url(../images/two-00.png);background-size: 100% 100%; background-repeat: no-repeat; position: absolute;z-index: 0;width: 1440px;height: 780px;top: 50%;left: 50%;margin:-390px 0 0 -720px; }

