@charset "utf-8";
/*1*/
.Lwf_head{
	width: 100%;
	height: 364px;
	font-family: Microsoft YaHei,LiHei Pro;	
}
.Lwf_main{
	width: 960px;
	height: 100%;
	margin: auto;
	overflow: hidden;
	position: relative;
}
.Lwf_left{
	width: 480px;
	height: 290px;
	background: #fff;
	margin-top: 37px;
}
.Lwf_left li{
	width: 100%;
	height: 35px;
	overflow: hidden;
	margin-top: 15px;
	float: left;
}
.Lwf_left li:first-child{
	margin-top: 27.5px;
}
.Lwf_left li:hover{
	cursor: pointer;
}
.Lwf_hidde{
	width: 100%;
	height: 100%;
	line-height: 35px;
	float: left;
	font-size: 28px;
	color: #7e7e7e;
	overflow: hidden;
	letter-spacing: -1px;
	/*animation: a 0.3s cubic-bezier(1,0.5,0.5,0.5) forwards;*/
}

.Lwf_sw{
	font-size: 12px !important;
	margin-left: 8px;
}
.Lwf_hidde2{
	width: 100%;
	height: 100%;
	font-size: 28px;
	line-height: 35px;
	float: left;
	color: #2a2a2a;
}
.Lwf_sw2{
	font-size: 12px !important;
	margin-left: 8px;
}
.Lwf_right{
	width: 296px;
	height: 77px;
	background: url(../images/logo.gif);
	position: absolute;
	right: 0px;
	top: 84.5px;
}
@keyframes Lwf_a{
	0%{margin-top: 0px}
	40%{margin-top: -35px}
	60%{margin-top: -28px}
	80%{margin-top: -29px}
	100%{margin-top: -35px}
}
@keyframes Lwf_b{
	0%{margin-top: -35px}
	40%{margin-top: 0px}
	60%{margin-top: -28px}
	80%{margin-top: -6px}
	100%{margin-top: 0px}
}
@keyframes Lwf_c{
	0%{margin-top: 0px}
	20%{margin-top: -35px}
	40%{margin-top: 10px}
	60%{margin-top: -10px}
	80%{margin-top: 5px}
	90%{margin-top: -2px}
	100%{margin-top: 0px}
}
@keyframes Lwf_d{
	0%{margin-top: 0px}
	20%{margin-top: 25px}
	40%{margin-top: -10px}
	60%{margin-top: 10px}
	80%{margin-top: -5px}
	90%{margin-top: 2px}
	100%{margin-top: 0px}
}
/*模板 第1部分end********************************************************************************/


/*模板 第二部分********************************************************************************/
.DB_all{width:100%;height: 588px;position: relative;}
.DB_bigBOX{width: 100%;height: 234px;background: #ffd400;position: absolute;margin-top: 116px;}
.DB_mid{width: 960px;height: 300px;position: absolute;left:50%;
	top: 50%;margin:-233px 0 0 -480px;
}
.DB_info{position: absolute;width:960px;height: 184px;float: left;
	left: 50%;top: 74%;margin: 21px 0 0 -480px;
}
.text1{font-size: 48px;color: #2a2a2a;}
.text2{font-size: 18px;color: #2a2a2a;line-height: 18px;position: absolute;top: 16px;}
.text3{font-size: 18px;color: #b3b3b3; position: absolute;top: 34px;left: 41%;}
.text4{font-size: 13px;color: #525252;margin-top: 10px;}

/*模板 第二部分 end********************************************************************************/


/*模板 第三部分*************************************************************************************/
.qq_bigbox{ width: 100%;height: 192px;/*background: #E2C7C7;*/ }
.qq960{width: 960px;height: 100%;/*background: #84C78B;*/margin: auto;}
.qq_left,.qq_mid,.qq_right{
	width:287px;height: 100%;/*background:#F3E167;*/float: left;margin-left:9px;
}
.qq_p1,.qq_midtxt,.qq_layout{padding-top:44px;}
.qq_p1{float:left; font-size: 20px;font-family: "ciads"; color:#888888;letter-spacing: -1px; }
.qq_img{width: 25px;height: 25px;display: block; background: url(../images/next.gif)no-repeat;float: right;margin-top: 44px;}
.qq_p2{height: 38px; color: #4d4d4d;font-size: 15px;line-height: 38px;}
.qq_slt{width: 287px;height: 21px;background:#838383; float: left;border-radius: 10px;/*overflow: hidden;*/ 
	line-height: 21px;font-size: 12px;color: #d5d5d5;margin-top:45px;cursor: pointer;z-index: 2;}
.qq_jt{width:21px;height:21px;background: url(../images/1.png)no-repeat center;
		 background-size: 50% auto; float: right;margin:  }
.qq_xl{width:287px;height: 160px;background:#838383; position: relative;left: 0;top:-21px;
		 border-radius: 10px;cursor: pointer;z-index: 1;display: none;
}
.qq_slt:hover .qq_xl{ display: block; }
.qq_xl li{width: 200px;height: 21px;border-radius: 10px;padding-left: 77px;color: #f7f7f7;margin-left:5px;}
.qq_xl li:hover{background: #2A2A2A;}


.qq_mid{width: 303px;/*background: #D6D2D2;*/margin-left:0px;}
.qq_midtxt,.qq_layout{width: 90px;height: 27px;float: left;font-size:18px;color:#888888;line-height: 27px;margin-left:70px; }
.qq_layout{margin-left:50px;}

.qq_color{width: 120px;height: 95px;/*background:#7BE087;*/float: left;  padding:49px 0 0 10px;}
.qq_color li{width: 20px;height: 20px;background: #FF4747;float: left; margin:0 0 10px 10px;
	transition: all 1s;cursor: pointer;overflow: hidden;  }
.qq_color li:last-child{width: 18px;height: 18px; border:1px solid #cacaca;}
.qq_color:hover li{ opacity: 0.5; }
.qq_color li:hover{  opacity: 1;}
.qq_ok{position:relative; transform:translateY( -15px);}



.qq_right{width: 352px;float: right;margin:0 9px 0 0;}
.qq_lytul{width: 202px;height: 80px;float:left;/*background:#E9EC7C;*/padding:49px 0 0 10px;}
.qq_lytul li{ width: 58px;height: 78px;float: left; border: 1px solid #cacaca; 
	margin-left: 7px;text-align: center;line-height: 78px;color: #4d4d4d;}
/*.qq_lytul li:first-child{border-color:#ffd400; }*/
.qq_lytul li:hover{border-color:#838383;}


/*图片列表*/
.CXM_page{width: 100%;height: 25px;line-height: 25px;}
.CXM_page ul{float: right;}
.CXM_page li{float: left;}
.CXM_page a{width: 25px;height: 25px;background: url(../images/page.gif) no-repeat;
	display: block;color: #d2d2d2;text-align: center;cursor: pointer;padding-right: 5px;
}
.CXM_prev{padding-right: 15px;}
.CXM_prev a{background: url(../images/prev.gif) no-repeat;}
.CXM_page li .hover{background-position: 0 -25px;color: #fff;}
.CXM_next{padding: 0 10px 0 10px;}
.CXM_next a{background: url(../images/next.gif) no-repeat;}
.CXM_page a:hover{background-position: 0 -25px;}

/*模板 第三部分 end*************************************************************************************/


/*模板  第四部分*******************************************************************************************/
.M_bottom{height: 00px;background: #ccc;width: 100%;margin-top: 200px;border-top: 1px solid #000;}
.M_wrap{width: 960px;height: 600px;margin:auto;position: relative;}
/*logo*/
.logoleft{width: 250px;height: 40px;margin-top: -60px;position: absolute; background:url(../images/flogo.gif);}
.logo_right{width: 100%;height: 30px;}
.logo_right1{width: 150px;height: 30px;background: #ffd400;float: right;}
.logo_right1 span{width: 30px;height: 30px;float: left;background:url(../images/jiantou.png) no-repeat;
	background-size: 75% auto;margin:5px 0 0 10px;}
.logo_right1 p{font-size: 16px; float: left;text-align: center;line-height: 30px;margin-left: -4px;color: #fff;}

.logo_right1:hover{background: #000;}
.logo_right2{width: 200px;height: 30px;float: right;color: #ccc;background:url(../images/weibo.gif) no-repeat left center;
	line-height: 30px;padding-left:30px;margin-right: 20px; font-size: 13px; }
.logo_right2:hover{color: #000;}
/*图标*/
.M_left{width: 700px;float: left;}
.M_left li{height: 45px;overflow: hidden;padding-top:35px; }
.M_a1{width: 120px;height: 40px; float: left;border-right: 5px solid #ccc;}
.M_a1 p{text-align: right;font-size: 22px;padding-top:18px;padding-right: 14px;color: #b2b2b2;}
.M_a1 .p1{background:url(../images/f1.gif) no-repeat 79px top }
.M_a1 .p2{background:url(../images/f2.gif) no-repeat 79px top }
.M_a1 .p3{background:url(../images/f3.gif) no-repeat 79px top }

/*底部中间*/
.M_a2{height: 45px;width: 500px;float: left;}
.M_a2 .p1{ font-size: 15px;color: #d2d2d2;line-height: 23px;padding-left: 21px;margin-top:3px;color: #2d2d2d;}
.M_a2 .p2{ font-size: 12px;color: #888888;padding-left: 21px;}
.M_a2 .p3{ font-size: 34px;color: #b2b2b2;line-height: 45px;padding-left: 17px;padding-right: 18px;float: left;}
.M_a2 .p3 span{color: #ffd711;}
.M_a2 .p4{font-size: 16px;padding-top: 18px;float: left;color: #b2b2b2;}
.M_a2 .p5{float: left;padding: 0 12px 0 22px;}
.M_a2 .p5 a{height: 45px;width: 45px;display: block;background:url(../images/f4.gif);}
.M_a2 .p6 span{display: block;font-size: 20px;color: #b2b2b2;}



/*底部右边*/
.M_right{float: left;padding-top: 40px;width: 260px;}
.M_right li{height: 55px;line-height: 55px;color:#b2b2b2;}
.M_right .s1{font-size: 25px;}
.M_right .s2{font-size: 0;}


/*最底部*/
.copy{width: 580px;height: 50px;margin-top: 80px;margin-left:10px;background: #eeeeee;font-size: 10px;color: #828282;float: left;}
.copy a{color: #828282;}
.copy .c1{width: 50px;height: 24px;margin:13px 10px 0 10px;background:url(../images/ci.gif);float: left;overflow: hidden;}
.copy p{margin: 12px 0 0 0;font-size: 13px;}
.copy a:hover{color: #000;}
.cits{width: 224px;height: 25px;margin: 17px 0 0 10px;background:url(../images/cits.gif);overflow: hidden;}

/*模板  第四部分 end*******************************************************************************************/