@chatset "utf-8";

.playvideo{position: relative;top: 0;left: 50%;margin-left: -450px;}
.ad{position: relative;top: 0;left: 50%;margin-left: -450px;z-index: 10}

.ad,.video{width: 900px;height: 480px;}
.ad{height: 510px;background: #766F6F;position: absolute;}



.advage{width:348px;height: 200px;position: absolute;top: 0;margin-top:100px;left: 50%;margin-left: -147px;z-index: 12;}/*广告和叉叉*/
.ad_stop{width:348px;height: 240px;background: url(../images/1.jpg) no-repeat;position: absolute;z-index:8;}/*广告图片*/
.back{width:30px;height: 30px;background: url(../images/%E4%B8%8B%E8%BD%BD.png) no-repeat;z-index:7;position:absolute;right: 0;cursor: pointer;z-index: 8}/*返回的叉叉*/


.progress{width: 900px;height: 10px;background: #ccc;position: relative;top:0;}
.progress_bar{width: 0px;height: 10px;background: #f00;position: absolute;left: 0; }
.jdt{width: 10px;height: 20px;background-color: #000;position: absolute;left: 0;top: 50%;margin-top: -10px;z-index: 9;cursor: pointer;}

.now,.total{width: 50px;margin-top: 10px;text-align: center;}
.now{float: left;}

.total{float: right;}





.button{width: 200px;background: #e22;position: absolute;bottom: 0;right: 0;}