
.lqh_content{
	width:500px;
	height:300px;
	position:fixed;
	top:50%;
	left:50%;
	margin:-180px 0 0 -250px;
	border-radius:5px;
	border:solid 2px #666;
	background:#fff;
	box-shadow:0 0 10px #666;
	z-index:999;
	display:none;
}
.lqh_content .lqh_title{
	height:20px;
	border-bottom:1px solid #ddd;
	padding:12px;
	position:relative;
}
.lqh_title .lqh_close{
	float:right;
	color:#999;
	padding:5px;
	margin:-2px -5px -5px;
	font:bold 14px/14px simsun;
	text-shadow:0 1px 0 #ddd;
	font-size:16px;
}
#lqh_close:hover{ cursor:pointer; }
#zj_close:hover{ cursor:pointer; }
.lqh_h3{ font-size:15px; }

.lqh_input{
	padding:45px 60px 40px;
	text-align:center;
	color:#444;
	height:148px;
}
.lqh_input .lqh_username{
	margin-top:-50px;
	margin-left:5px;
	width:250px;
	height:46px;
	background-color:#f06fa8;
	font-size:24px;
	line-height:46px;
	text-indent:10px;
	border:1px solid;
	outline:none;
}
.lqh_input .lqh_phone{
	margin-top:10px;
	margin-left:5px;
	width:250px;
	height:46px;
	background-color:#f06fa8;
	font-size:24px;
	line-height:46px;
	text-indent:10px;
	border:1px solid;
	outline:none;
}
.lqh_button{
	border:1px solid;
	outline:none;
	margin-top:50px;
	margin-left:5px;
	width:250px;
	height:46px;
	border:1px solid #3079ED;
	border-radius:5px;
	background-color:#4D90FE;
	color:#F3F7FC;
	font-size:25px;
}
.lqh_p{
	width:380px;
	height:105px;
	margin:auto;
	font-size:29.2px;
	color:#444;
	margin-top:75px;
}

.lqh_text{
	text-align:center;
	font-size:24px;
	position:relative;
	bottom:50px;
}
.lqh_btn{
	height:61px;
	width:250px;
	border-color:#3079ED;
	color:#F3F7FC;
	background-color:#4D90FE;
	background:linear-gradient(top,#4D90FE,#4787ED);
	margin:auto;
	margin-top:30px;
	font-size:40px;
}
/*========背景============*/
.lqh_wrap{
	width:100%;
	height:21954px;
	background:url(../images/xxxs.jpg) no-repeat;
	position:relative;
}
.lqh_cj{
	position:absolute;
	height:320px;
	width:164px;
	top:6164px;
	left:950px;
	margin-left:-60px;
}
.lqh_cj .lqh_img{
	width:164px;
	height:320px;
	position:relative;
	border:0;
	background:url(../images/start.png) no-repeat;
}





