.top1{width: 100%;height: 777px;background: red; }
.works{width: 1200px;margin: auto;}
.works .top2{width: 100%;height: 85px;background: blue;}
.works .nav_list{width: 100%;height: 36px;}
.works .nav_list li{float: left;font-size: 12px;line-height: 42px;padding-left: 5px;}
.works .zsj_main{width: 100%;height: 783px;}
.works .zsj_main .zsj_hp{width: 100%;height: 100px;}
.works .zsj_main .zsj_hp .zsj_txt{width: 190px;height: 40px;margin-left: 42%; border-bottom: 5px solid #000;text-align: center;font-size: 36px;line-height: 36px;font-weight: 900;}
.works .zsj_main .zsj_top{width: 100%;height: 16px;margin-bottom: 20px;}
.works .zsj_main .zsj_top li{float: left;padding-left: 1px;font-size: 12px;cursor: pointer;}
.works .zsj_main .zsj_top li:hover{color: #443D3D;}
.works .zsj_main .zsj_nav{width: 100%;height: 121px;}
.works .zsj_main .zsj_nav ul{width: 398px;height: 100%; float: left;border: 1px solid #C3AFAF;cursor: pointer;text-align: center;}
.works .zsj_main .zsj_nav .zsj_navc{margin-top: 30px; font-size: 30px;color: #4A4444;font-weight: 900;}
.works .zsj_main .zsj_nav ul:hover .zsj_navc{color: #000;}
.works .zsj_main .zsj_nav .zsj_nave{margin-top: 5px; font-size: 25px;color: #4A4444;font-weight: 900;}
.works .zsj_main .zsj_center{width: 100%;height: 100px;border-bottom: 10px solid #4D4D4D;text-align: center;font-size: 30px;}
.zsj_center .zsj_centert{line-height: 60px; color: #2D2929;font-weight: 900;}
.zsj_center .zsj_centerb{line-height: 20px; font-size: 37px;color: #2D2929;margin-bottom: 0px;font-weight: 900;}
.works .zsj_main .zsj_bottom{width: 1160px;height: 355px; margin: 20px 18px 20px 18px;}
.works .zsj_main .zsj_bottom li{width: 219px;height: 51px;margin:0px 5.7px 20px 5.7px;padding:3px 0px 3px 0px ;float: left;}
.works .zsj_main .zsj_bottom li p{float: left; margin-left: 0;}
.works .zsj_main .zsj_bottom .zsj_img{width: 50px;height: 50px;}
.works .zsj_main .zsj_bottom .zsj_tt{width: 150px;height: 50px;margin-left: 10px;font-size: 12px;margin-top: 3px;}

.bottom{width: 100%;height: 330px;background: #00BCD4}

body{ font-size: 12px; font-family: "Microsoft YaHei"; color: #4d4d4d; }
.zyf_bigdiv{ width: 1200px; height: auto; overflow: hidden; margin: auto; }
.zyf_bigdiv .top{ width: 100%; height:20px; line-height: 20px; }
.zyf_bigdiv .top a{ color: #4d4d4d; }
.zyf_bigdiv .top a:hover{ color: #BCBCCA !important; } 
.zyf_bigdiv .title{ width: 100%; height: 100px;}
.zyf_bigdiv .title li{ width: 190px; height: 45px; text-align: center; font-size: 30px; color: #4d4d4d; border-bottom: 5px solid #4d4d4d; margin:50px auto; line-height: 45px; }
.zyf_bigdiv .title_text a{ color: #4d4d4d; }
.zyf_bigdiv .title_text a:hover{ color: #BCBCCA !important; } 
.font_nav{ width: 100%; height: 121px; margin-top: 30px; }
.font_nav li{ width: 33%; height: 121px; text-align: center; float: left; border-bottom: 1px solid #dddddd; border-right: 1px solid #dddddd; border-left: 1px solid #dddddd; }
.font_nav li:nth-child(2){  border-right: 0px solid #dddddd; height: 121px; border-left: 0px solid #dddddd; }
.font_nav li .border{ width: 100%; text-align: left; border-top: 10px solid #bcbcbc; }
.font_nav li:hover .border{ border-top: 10px solid #4d4d4d; }
.font_nav li a{ width: 100%; height: 111px; position: relative; display: block; }
.font_nav li a .sanjiao{ margin-top: -25px; display: none; }
.font_nav li:hover .sanjiao{ width: 0;height:0;left: 50%;margin-left: -10px;border-width: 10px 10px 0;border-style:solid;border-color: #4d4d4d transparent transparent; position: absolute; display:block !important; }
.font_nav li a h3{ font-size: 24px; color: #bcbcbc; text-align: center;margin-top: 15px }
.font_nav li a span{ display: block; font-size: 24px; color: #bcbcbc; margin-top:5px; text-align: center; }

@chatset "utf-8";
/*³¬Á´½Óa±êÇ©µÄÍ³Ò»Ð§¹û*/
a{color:#0088DB;text-decoration:none;cursor:pointer}
a:hover{color: #2A5E8E;}
/*³¬Á´½Óa±êÇ©µÄÍ³Ò»Ð§¹û*/


/*---------------·þÎñ¼Û¸ñ-------------------*/

.comment{width: 100%;overflow: hidden;}

.comment .nav{width:1188px;margin:0 auto;}

.comment .detail{width: 1188px;margin:0 auto;} 
.comment .detail .title{width: 150px;text-align: center;font-size: 30px;color: #4d4d4d;border-bottom: 5px solid #4d4d4d;margin: 0 auto;margin-top: 50px}
.comment .detail .indexLink{width: 1188px;overflow: hidden;margin:0 auto;margin-top: 40px;margin-bottom: 20px; }
.comment .detail .menu{width: 1188px;height: 130px;}

		 .detail .menu ul li{width: 393.3px;height: 120px;float: left;border-left:1px solid #dddddd;border-right:1px solid #dddddd;border-bottom:1px solid #dddddd;;position: relative;text-align: center;}
 		 .detail .menu ul li .border{width: 394.5px;border-top:10px solid #bcbcbc;margin-left: -0.5px;text-align: left;}
 		 .detail .menu ul li.cover .border{width: 394.5px;border-top:10px solid #4d4d4d;margin-left: -0.5px;text-align: left;}
 		 .detail .menu ul li .sanjiao{display:none;}
		 .detail .menu ul  li.cover .sanjiao{width: 0;height:0;left: 50%;margin-left: -10px;border-width: 10px 10px 0;border-style:solid;border-color: #4d4d4d transparent transparent;/* ºì Í¸Ã÷ Í¸Ã÷ */position: absolute; display:block;}
		 .detail .menu ul li h3{font-size: 24px;color: #bcbcbc;padding-top: 25px;text-align: center;}
		 .detail .menu ul  li.cover h3{color: #4d4d4d;}
		
		 .detail .menu ul  li .small{font-size: 24px;color: #bcbcbc;text-align: center;}

		/*hoverÐ§¹û*/
		 .detail .menu ul  li:hover .border{width: 394.5px;border-top:10px solid #4d4d4d;margin-left: -0.5px;text-align: left;}
	 	 .detail .menu ul  li:hover .sanjiao{width: 0;height:0;left: 50%;margin-left: -10px;border-width: 10px 10px 0;border-style:solid;border-color: #4d4d4d transparent transparent;/* ºì Í¸Ã÷ Í¸Ã÷ */position: absolute; display:block;}
		/*hoverÐ§¹û*/
		
.comment .detail .priceShow{width: 1188px;margin-top: 20px;}		

		 .detail .priceShow .showLeft{width: 584px;float: left;margin-right: 10px;}
		 .detail .priceShow .showLeft .showLeft_tit{width: 554px;height: 40px;background: #bcbcbc;margin-bottom:5px;padding:25px 15px;}
							.showLeft .showLeft_tit{color: #fff;font-size: 18px;}
		.detail .priceShow .showLeft .showLeft_list{width: 584px;height: 145px;background: #bcbcbc;margin-bottom:5px }
						   .showLeft .showLeft_list img{width: 190px;height: 145px;float: left;}
							.showLeft .showLeft_list .fontNum{width: 255px;height: 145px;float: left;text-align: center;margin-left: 90px;}
									  .showLeft_list .fontNum .money, .showLeft_list .fontNum .knowMore{font-size: 22px;display: block;padding-top: 45px;color: #fff;}
									  .showLeft_list .fontNum .money{float: left;margin-top:12px;}
									  .showLeft_list .fontNum .knowMore{float: right;text-align: left;}
									   .showLeft_list .fontNum .knowMore span{font-size: 12px;}
		
		 .detail .priceShow .showRight{width: 584px;float: right;margin-right: 10px;}
		 .detail .priceShow .showRight .showRight_tit{width: 554px;height: 40px;background: #bcbcbc;margin-bottom:5px;padding:25px 15px;}
							.showRight .showRight_tit{color: #fff;font-size: 18px;}
		 .detail .priceShow .showRight .showRight_list{width: 584px;height: 145px;background: #bcbcbc;margin-bottom:5px }
						    .showRight .showRight_list img{width: 190px;height: 145px;float: left;}
							.showRight .showRight_list .fontNum{width: 255px;height: 145px;float: left;text-align: center;margin-left: 90px;}
									   .showRight_list .fontNum .money, .showRight_list .fontNum .knowMore{font-size: 22px;display: block;padding-top: 45px;color: #fff;}
						    		   .showRight_list .fontNum .money{float: left;margin-top:12px;}
									   .showRight_list .fontNum .knowMore{float: right;text-align: left;}
									   .showRight_list .fontNum .knowMore span{font-size: 12px;}



/*hoverÐ§¹û*/
		.detail .priceShow .showLeft .showLeft_list:hover{background: #4d4d4d;}
		.detail .priceShow .showRight .showRight_list:hover{background: #4d4d4d;}
/*hoverÐ§¹û*/


/*---------------·þÎñ¼Û¸ñ-------------------*/












